<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/users/usereditorget/{id}(id=${user.id})}">Edit</a></td>
        <td><form th:action="@{/users/{id}(id=${user.id})}" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/saveget}">Add User</a>
</body>
</html>
